appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
BeautifulSoup==3.2.1
certifi==2018.1.18
chardet==3.0.4
decorator==4.2.1
enum34==1.1.6
idna==2.6
ipython-genutils==0.2.0
numpy==1.14.2
pandas==0.22.0
pexpect==4.4.0
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.7.0
pytz==2018.3
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.22
zipcodes==1.0.4
